div#income.container
    h3 Summary
    .row
        .col-sm-12
            table.table
                thead
                    tr
                        th #
                        th Name
                        th Amount
                        
                tbody
                    tr(v-for="(item, i) in sumTransactions($parent.transactions)")
                        td {{i+1}}
                        td {{item.name}}
                        td {{item.amount + ' ' + item.currency}}

                        

    
